Write a code to reverse a string

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

Write a code to count the number of vowels in a string

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("hello world"))

3

Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(is_palindrome("Madam"))

True

Write a code to check if two given strings are anagrams of each other

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1.replace(" ", "").lower()) == sorted(s2.replace(" ", "").lower())

print(are_anagrams("listen", "silent"))

True

 Write a code to find all occurrences of a given substring within another string

In [ ]:
def find_substring_occurrences(string, substring):
    indices = []
    index = string.find(substring)
    while index != -1:
        indices.append(index)
        index = string.find(substring, index + 1)
    return indices

print(find_substring_occurrences("hello hello world", "hello"))

[0, 6]

Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def string_compression(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

print(string_compression("aaabbccc"))

a3b2c3

Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_characters(s):
    return len(s) == len(set(s))

print(has_unique_characters("hello"))

False

 Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

print(convert_case("hello", to_upper=True))

HELLO

 Write a code to count the number of words in a string

In [ ]:
def count_words(s):
    return len(s.split())

print(count_words("hello world"))

2

Write a code to concatenate two strings without using the + operator

In [ ]:
def concatenate_strings(s1, s2):
    return f"{s1}{s2}"

print(concatenate_strings("hello", "world"))

helloworld

Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

print(remove_element([1, 2, 3, 2, 4], 2))

[1, 3, 4]

Implement a code to find the second largest number in a given list of integers

In [ ]:
def second_largest(lst):
    unique_sorted = sorted(set(lst), reverse=True)
    return unique_sorted[1] if len(unique_sorted) > 1 else None

print(second_largest([1, 2, 3, 4, 5]))

4

Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
def count_elements(lst):
    return {x: lst.count(x) for x in set(lst)}

print(count_elements([1, 2, 2, 3, 3, 3]))

{1: 1, 2: 2, 3: 3}

Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list(lst):
    for i in range(len(lst) // 2):
        lst[i], lst[-i - 1] = lst[-i - 1], lst[i]
    return lst

print(reverse_list([1, 2, 3, 4]))

[4, 3, 2, 1]

 Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

print(remove_duplicates([1, 2, 2, 3, 4, 4]))

[1, 2, 3, 4]

Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

print(is_sorted([1, 2, 3]))

True

Write a code to merge two sorted lists into a single sorted list

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

Implement a code to find the intersection of two given lists

In [ ]:
def union_lists(lst1, lst2):
    return list(set(lst1) | set(lst2))

print(union_lists([1, 2, 3], [3, 4, 5]))

[1, 2, 3, 4, 5]

 Create a code to find the union of two lists without duplicates

In [ ]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

print(shuffle_list([1, 2, 3, 4, 5]))

[3, 4, 5, 2, 1]

Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
def common_elements(tup1, tup2):
    return tuple(set(tup1) & set(tup2))

print(common_elements((1, 2, 3), (2, 3, 4)))

(2, 3)

 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def intersection_of_sets():
    set1 = set(map(int, input("Enter the first set of integers: ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers: ").split(',')))
    return set1 & set2

print(intersection_of_sets())

Enter the first set of integers: 2
Enter the second set of integers: 3
set()

 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

print(concatenate_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [ ]:
def difference_of_sets():
    set1 = set(input("Enter the first set of strings: ").split(','))
    set2 = set(input("Enter the second set of strings: ").split(','))
    return set1 - set2

print(difference_of_sets())

Enter the first set of strings: ''ajay''
Enter the second set of strings: ''rishabh''
{"''ajay''"}

 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
def tuple_range(tup, start, end):
    return tup[start:end]

print(tuple_range((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4)

Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def union_of_sets():
    set1 = set(input("Enter the first set of characters: ").split(','))
    set2 = set(input("Enter the second set of characters: ").split(','))
    return set1 | set2

print(union_of_sets())

Enter the first set of characters: r
Enter the second set of characters: s
{'r', 's'}

Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
def max_min_tuple(tup):
    return max(tup), min(tup)

print(max_min_tuple((1, 2, 3, 4, 5)))

(5, 1)

Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def set_operations(set1, set2):
    return {
        "Union": set1 | set2,
        "Intersection": set1 & set2,
        "Difference": set1 - set2
    }

print(set_operations({1, 2, 3}, {2, 3, 4}))

{'Union': {1, 2, 3, 4}, 'Intersection': {2, 3}, 'Difference': {1}}

Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&

In [ ]:
def count_in_tuple(tup, element):
    return tup.count(element)

print(count_in_tuple((1, 2, 2, 3), 2))

2

Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter the first set of strings: ").split(','))
    set2 = set(input("Enter the second set of strings: ").split(','))
    return set1 ^ set2

print(symmetric_difference_of_sets())

Enter the first set of strings: ''rama''
Enter the second set of strings: ''radhe''
{"''radhe''", "''rama''"}

 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
def word_frequency(words):
    return {word: words.count(word) for word in set(words)}

print(word_frequency(["apple", "banana", "apple", "orange", "banana"]))

{'banana': 2, 'orange': 1, 'apple': 2}

Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
def merge_dicts(dict1, dict2):
    result = dict1.copy()
    for key, value in dict2.items():
        result[key] = result.get(key, 0) + value
    return result

print(merge_dicts({"a": 1, "b": 2}, {"b": 3, "c": 4}))

{'a': 1, 'b': 5, 'c': 4}

Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
def access_nested_dict(dct, keys):
    for key in keys:
        dct = dct.get(key)
        if dct is None:
            return None
    return dct

nested_dict = {"a": {"b": {"c": 42}}}
print(access_nested_dict(nested_dict, ["a", "b", "c"]))

42

Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None&

In [ ]:
def sort_dict_by_values(dct, ascending=True):
    return dict(sorted(dct.items(), key=lambda item: item[1], reverse=not ascending))

print(sort_dict_by_values({"a": 3, "b": 1, "c": 2}))

{'b': 1, 'c': 2, 'a': 3}

Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
def invert_dict(dct):
    inverted = {}
    for key, value in dct.items():
        inverted.setdefault(value, []).append(key)
    return inverted

print(invert_dict({"a": 1, "b": 2, "c": 1}))

{1: ['a', 'c'], 2: ['b']}